.nav_bar{
    width: 100%;
    height: 60px;
    background: $color1;
    display: flex;
    align-items: center;
    position: fixed;
    color: white;
    .title{
        position: absolute;
        left: 40%;
        right: 40%;
        text-align: center;
        font-size: 150%;
        font-family: 'Shrikhand';
    }
    a{
        color: white;
        display: flex;
        &:hover{
            color: white;
            text-decoration: none;
        }
    }
    .user{
        display: flex;
        position: absolute;
        left: 85%;
        top: 0%;
        text-align: center;
    }
}