* {
  font-family: 'Varela Round'; }

.link_container {
  display: flex; }

.video_container {
  display: flex;
  justify-content: center; }
  .video_container iframe {
    margin-top: 100px;
    margin-bottom: 50px;
    border: solid #A4A5A9 10Px; }

.nav_bar {
  width: 100%;
  height: 60px;
  background: #262B42;
  display: flex;
  align-items: center;
  position: fixed;
  color: white; }
  .nav_bar .title {
    position: absolute;
    left: 40%;
    right: 40%;
    text-align: center;
    font-size: 150%;
    font-family: 'Shrikhand'; }
  .nav_bar a {
    color: white;
    display: flex; }
    .nav_bar a:hover {
      color: white;
      text-decoration: none; }
  .nav_bar .user {
    display: flex;
    position: absolute;
    left: 85%;
    top: 0%;
    text-align: center; }

/*# sourceMappingURL=main.css.map */
