
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.login,.register{
    margin-top:10%;
    width: 300Px;
    height: 300Px;
    background-color: rgba(164,165,169,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

.register{
    display: none;
}

.button_class{
    display: flex;
    justify-content: space-between;
}

.login_form{
    width: 196px;
    text-align: center;
}
